USE [MailDB]
GO
/****** Object:  Table [dbo].[Dosyalar]    Script Date: 4.1.2017 22:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosyalar](
	[dosya_ID] [int] IDENTITY(1,1) NOT NULL,
	[dosyaAdi] [nvarchar](max) NULL,
	[dosyaUzantisi] [nvarchar](max) NULL,
	[mail_ID] [int] NULL,
 CONSTRAINT [PK_Dosyalar] PRIMARY KEY CLUSTERED 
(
	[dosya_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 4.1.2017 22:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullanici_ID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[dogumTarihi] [date] NULL,
	[durum] [bit] NULL,
	[mailSayisi] [int] NULL,
	[kulDurum] [int] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MailBox]    Script Date: 4.1.2017 22:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBox](
	[mailbox_ID] [int] IDENTITY(1,1) NOT NULL,
	[durum_No] [int] NULL,
	[kullanici_No] [int] NULL,
	[gonderen] [nvarchar](max) NULL,
	[alici] [nvarchar](max) NULL,
	[konu] [nvarchar](max) NULL,
	[icerik] [nvarchar](max) NULL,
	[tarih] [datetime] NULL,
 CONSTRAINT [PK_MailBox] PRIMARY KEY CLUSTERED 
(
	[mailbox_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MailDurum]    Script Date: 4.1.2017 22:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailDurum](
	[durum_ID] [int] NOT NULL,
	[durumAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MailDurum] PRIMARY KEY CLUSTERED 
(
	[durum_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Dosyalar] ON 

INSERT [dbo].[Dosyalar] ([dosya_ID], [dosyaAdi], [dosyaUzantisi], [mail_ID]) VALUES (79, N'görsel programlama Ders3.docx', N'dosyalar/word/görsel programlama Ders3.docx', 201)
INSERT [dbo].[Dosyalar] ([dosya_ID], [dosyaAdi], [dosyaUzantisi], [mail_ID]) VALUES (80, N'yarın yapülacekler.rar', N'dosyalar/rar/yarın yapülacekler.rar', 202)
INSERT [dbo].[Dosyalar] ([dosya_ID], [dosyaAdi], [dosyaUzantisi], [mail_ID]) VALUES (81, N'Adsız.png', N'dosyalar/resimler/Adsız.png', 202)
SET IDENTITY_INSERT [dbo].[Dosyalar] OFF
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([kullanici_ID], [kullaniciAdi], [sifre], [ad], [soyad], [dogumTarihi], [durum], [mailSayisi], [kulDurum]) VALUES (1, N'okandeneme60@gmail.com', N'74185296', N'Hüseyin', N'Armut', CAST(N'2016-11-30' AS Date), 0, 0, 0)
INSERT [dbo].[Kullanici] ([kullanici_ID], [kullaniciAdi], [sifre], [ad], [soyad], [dogumTarihi], [durum], [mailSayisi], [kulDurum]) VALUES (4, N'mebotadm@outlook.com', N'74185296a', N'MEBOT', N'admin', CAST(N'2016-12-28' AS Date), 0, 18, 0)
INSERT [dbo].[Kullanici] ([kullanici_ID], [kullaniciAdi], [sifre], [ad], [soyad], [dogumTarihi], [durum], [mailSayisi], [kulDurum]) VALUES (7, N'okan10203@outlook.com', N'74185296a', N'burak', N'admin', CAST(N'2015-12-30' AS Date), 0, 11, 0)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
SET IDENTITY_INSERT [dbo].[MailBox] ON 

INSERT [dbo].[MailBox] ([mailbox_ID], [durum_No], [kullanici_No], [gonderen], [alici], [konu], [icerik], [tarih]) VALUES (50, 1, 7, N'okan10203@outlook.com', N'okandeneme60@gmail.com', N'albunu trek', N'bunu da al
', CAST(N'2015-11-01T14:51:40.000' AS DateTime))
INSERT [dbo].[MailBox] ([mailbox_ID], [durum_No], [kullanici_No], [gonderen], [alici], [konu], [icerik], [tarih]) VALUES (51, 1, 7, N'okan10203@outlook.com', N'okandeneme60@gmail.com', N'polonyalı ', N'okan', CAST(N'2016-12-03T14:52:12.000' AS DateTime))
INSERT [dbo].[MailBox] ([mailbox_ID], [durum_No], [kullanici_No], [gonderen], [alici], [konu], [icerik], [tarih]) VALUES (52, 1, 7, N'okan10203@outlook.com', N'okandeneme60@gmail.com', N'sdadas', N'sda', CAST(N'2016-12-11T14:59:59.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MailBox] OFF
INSERT [dbo].[MailDurum] ([durum_ID], [durumAdi]) VALUES (1, N'MailGönderme')
INSERT [dbo].[MailDurum] ([durum_ID], [durumAdi]) VALUES (2, N'MailAlma')
INSERT [dbo].[MailDurum] ([durum_ID], [durumAdi]) VALUES (3, N'MailSilinenler')
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_durum]  DEFAULT ((0)) FOR [durum]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_mailSayisi]  DEFAULT ((0)) FOR [mailSayisi]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_kulDurumu]  DEFAULT ((1)) FOR [kulDurum]
GO
ALTER TABLE [dbo].[Dosyalar]  WITH CHECK ADD  CONSTRAINT [FK_Dosyalar_MailBox] FOREIGN KEY([mail_ID])
REFERENCES [dbo].[MailBox] ([mailbox_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dosyalar] CHECK CONSTRAINT [FK_Dosyalar_MailBox]
GO
ALTER TABLE [dbo].[MailBox]  WITH CHECK ADD  CONSTRAINT [FK_MailBox_Kullanici] FOREIGN KEY([kullanici_No])
REFERENCES [dbo].[Kullanici] ([kullanici_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MailBox] CHECK CONSTRAINT [FK_MailBox_Kullanici]
GO
ALTER TABLE [dbo].[MailBox]  WITH CHECK ADD  CONSTRAINT [FK_MailBox_MailDurum] FOREIGN KEY([durum_No])
REFERENCES [dbo].[MailDurum] ([durum_ID])
GO
ALTER TABLE [dbo].[MailBox] CHECK CONSTRAINT [FK_MailBox_MailDurum]
GO
